*.o
*.a
*.d
*.gz
/*.sublime-*
src/*.wast.wasm
_local
/.build-cache
/dist
/report.*
.DS_Store
node_modules
misc/UnicodeData.txt
misc/emoji-data.txt
* copy

# code generator program output:
src/**/.src-*.js
