/*@viewport {
  width: device-width;
}*/

* { margin:0; padding:0; font-family:inherit; }
body {
  background: #fff;
  color: #242424;
  font-family: 'Inter UI', -system-ui, system-ui, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 4em;

  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  -moz-font-feature-settings:"kern" 1, "liga" 1; 
  -ms-font-feature-settings:"kern" 1, "liga" 1; 
  -o-font-feature-settings:"kern" 1, "liga" 1; 
  -webkit-font-feature-settings:"kern" 1, "liga" 1; 
  font-feature-settings:"kern" 1, "liga" 1;
}

div.breaker { clear:both; }

p, ul, ol, pre, blockquote, hr, object { margin: 1em 0; }
ul, ol { margin-left:1.1em; }
pre, code, tt {
  font-family: Inconsolata, 
    "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size:1.03em;
  letter-spacing: 0.01em;
}
img { display: block; border: none; vertical-align: bottom; }
hr { height:1px; border:none; background-color:#ddd; }
strong, b { font-weight: 500; letter-spacing:0.013em; color:#111; }
num { /* number */
  font-feature-settings: 'calt' 1, 'ss01' 1;
  white-space: pre;
}

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}
h1 {
  text-indent: -0.01em;
  margin-bottom: 0;
  margin-top: 0;
  color:#222;
}
h2 {
  margin-top: 2em;
  /*margin-bottom: 1em;*/
}
h3 {
  /*margin-top: 2em;*/
  margin-bottom: 0.8em;
}
h4 {
  margin-top: 1.8em;
}
h1 + h2 { margin-top:1.3em; }
h2 + h3, h3 + h4, h4 + h5 { margin-top:1em; }
.anchor { cursor:pointer; }
.anchor:hover { color: rgb(0,100,255); }

/* type scale */
/*h1 { font-size: 2.2em;  font-weight: 500; letter-spacing: -0.002em; }
h2 { font-size: 1.4em;  font-weight: 600; letter-spacing: 0em; }
h3 { font-size: 1.2em;  font-weight: 500; }
h4 { font-size: 1em; font-weight: 600; }*/

/*h1, h2, h3, h4 { font-weight: 600; }
h1, h2 { letter-spacing: -0.018em; }
        h3, h4 { letter-spacing: -0.01em; }
h1 { font-size: 4em; letter-spacing: -0.02em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.7em; font-weight:600; }
h4 { font-size: 1.2em; }*/

h1, h2, h3, h4 { font-weight: 600; letter-spacing: -0.01em; }
h1 { font-size: 2.5em; }
h2 { font-size: 2em; padding-top: 0.8em; border-top:1px solid #eaecef; }
/*h2 { font-size: 2em; padding-bottom: 0.3em;
  border-bottom:1px solid #eaecef; }*/
h3 { font-size: 1.3em; font-weight:600; }
h4 { font-size: 1em; }

small { font-size: 0.833em; letter-spacing: 0.01em; }
  /* in-sync with sidenote */

h1 > a, h2 > a, h3 > a, h4 > a {
  color: inherit;
  text-decoration: none;
  text-shadow: none;
  background: none !important;
}

a {
  color: #375EAB;
  text-decoration: inherit;
  word-break: break-word;
  word-wrap: break-word;
}
a:hover {
  color: #06F;
  text-decoration: underline;
}

h1 > a[href^="#"]:hover {
  color: inherit;
  text-decoration: inherit;
}


/* header */
.header {
  height: 80px;
  background:#fff; color:#999;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1); /* x y blur color */

  /*position: sticky;
  left:0; top:0; right:0; z-index:2;*/
}

.header > div {
  display: flex;
  justify-content: space-between;
}
.header * {
  cursor: default;
}
  .header h1 {
    letter-spacing: 0;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: inherit;
    font-weight: 500;
    color: #111;
    line-height: 32px; /* should match icon height */
    margin-left:-5px;
  }
    .header h1 a {
      display: flex;
      flex: 0 0 auto;
      margin-bottom:1px;
    }
      .header h1 a > svg {
        flex: 0 0 auto;
        margin-right:5px; /* space between icon and title */
      }
      /* trick to get a higher MSAA sample count for the title */
      /*.header h1 a > span {
        zoom: 2;
        transform-origin: 0 50%;
        transform: scale3d(0.5,0.5,1);
      }*/
    .header h1 a:hover, .header h1 a:hover svg path:first-child {
      fill: #06F;
      color: inherit;
      text-decoration:none;
    }
  .header ul {
    /*background: rgba(0,255,190,0.3);*/
    flex: 0 0 auto;
    margin: 0;
    text-align: left;
    display: flex;
  }
  .header li {
    /*background: rgba(55,255,90,0.3);*/
    list-style: none;
    margin:0; padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header li:first-child { margin-left: 0; }
  .header li a[href] {
    /*background: rgba(255,60,90,0.3);*/
    cursor: pointer;
    color: inherit;
    padding: 15px 0.8em;
    text-decoration: none;
    transition: 90ms color cubic-bezier(0.25, 0.47, 0.44, 0.93);
  }
  .header li:last-child a[href] {
    padding-right:0;
  }
  .header li a[href]:hover {
    color: black;
    text-decoration: none;
  }
  .header li a[href].active {
    color: black;
    font-weight: 500;
  }

/* header on small screens */
@media only screen and (max-device-width: 480px) {
  .header {
    /* note: need to be sync'd with style in /play/index.html */
    height: 110px;
  }
  .header > div {
    flex-direction: column;
  }
  .header h1 {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .header ul {
    height: 60px;
    z-index: 2;
  }
  .header li {
    display:flex;
  }
  .header li a {
    display: flex;
    align-items: center;
    background:white;
    flex:1 1 auto;
  }
  .header li:first-child a {
    padding-left: 0;
  }

  /* beginning to a fancy drop-down thing:; */
  /*.header ul {
    background: rgba(255,60,90,0.3);
    display: flex;
    flex-direction: column;
    position: absolute;
    right:0; top:0;
    z-index: 2;
  }
  .header li {
    box-sizing: border-box;
    height: 80px;
    padding: 1em;
    flex: 1 0 auto;
  }*/
}


/* main */
#main { margin-bottom: 3em; }


/* table */
table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing:border-box;
}
  table td, table th {
    padding: 6px 13px;
    border:1px solid #d5d5d5;
    box-sizing: border-box;
  }
  table th {
    color: black;
    font-weight: 500;
    background: #f5f5f5;
  }


/* ---------------------------------------------------------------------- */
/* main content */

/* section */
section {
  display: flex;
  justify-content: center;
}
section.content {
  padding-top:40px;
}
  section > * {
    max-width: 800px;
    padding:0 20px;
    flex: 1 1 100%;
    min-width: 200px; /* required for correct flex constraints */
    position: relative;
  }
  section > * > h2:first-child {
    margin-top:0;
  }
  section:not(.sub) h1:first-child {
    margin-top:0;
  }
  
  section img, section iframe {
    display:block;
    max-width:100%;
    margin:1em 0;
  }
  section iframe { border:none; }
  section *[align="right"] { margin:0 0 1em 1.5em; }
  section *[align="left"] { margin:0 1.5em 1em 0; }

  section ul,
  section ol { margin-bottom: 1.2em; }
  section li { margin-left: 0; margin-bottom: 0.2em; }
  /*section ul > li,
  section ol > li { margin-left: 1em; }*/
  section ul ul > li,
  section ol ul > li,
  section ol ol > li,
  section ul ol > li { margin-left: 0.5em; }
  section li > ul,
  section li > ol { margin-top: 0.1em; margin-bottom: 0.1em; }
  section li > p:first-child { margin:0; }
  /*section li > p:first-child { margin-top:0; }
  section li > p:last-child { margin-bottom:0; }*/

  section pre,
  section code {
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
  }

  /* code blocks and inline code strips */
  section code, section pre {
    word-wrap: break-word;
  }

  /* code blocks */
  section pre > code {
    background-color: none;
    border-radius: 0;
    word-wrap: initial;
  }

  section pre {
    line-height:1.25;
    overflow-x: auto;
    color: #333;
    padding:16px;
  }
  
  section code {
    padding: 3px 0;
  }
  section code::before,
  section code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }

  section pre > code {
    padding:0;
    background-color:transparent;
    border-radius: none;
  }
  section pre > code::before,
  section pre > code::after {
    letter-spacing: inherit;
    content: none;
  }

  @keyframes outline-fade-out {
    0%   { background-color: #fe0; outline-color: #fe0; }
    90%   { background-color: #fe0; outline-color: #fe0; }
    100% {
      background-color: default;
      outline-color: rgba(255,255,255,0);
    }
  }
  section *:target {
    outline: 4px solid #fe0;
    animation: outline-fade-out 4500ms 1;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0;
  }
  section center {
    margin:2em 0;
    user-select:none;
    cursor: default;
    color: #ccc;
  }
  section a.footnote {
    display: inline-block;
    padding: 0 1px;
    margin: 0 0 0 1px;
    background: inherit;
    text-shadow:none;
    color: #666;
    user-select: none;
    border-radius: 2px;
    border-left:1px solid rgba(0,0,0,0.1);
    border-right:1px solid rgba(0,0,0,0.1);
  }
  section sup {
    vertical-align: super;
    font-size: 65%;
    padding:0;
    margin:0;
  }
  section sup:target {
    background: none;
    animation: none;
    outline: none;
  }
  section sup:target a.footnote {
    background-color: #fe0;
  }
  section a.footnote:hover {
    color: black;
    background: #eee;
    /*text-decoration: underline;*/
  }
  section a.footnote::before {
    letter-spacing: -0.3em; content: "\00a0"; }
  section a.footnote::after {
    letter-spacing: -0.3em; content: "\00a0"; }
  section div.footnotes {
    margin-top:3em;
    border-top: 1px solid #eee;
  }
  section div.footnotes li { color:#999; }
  section div.footnotes li > p { margin:0; }
  section div.footnotes li:target { background:#ffc; color:inherit; }

  section > div > *:first-child { margin-top:0; }

  section.sub {
    margin-top:-50px;
    padding-top:20px;
  }

  section blockquote {
    padding:0 0 0 20px;
    color: #777;
    border-left:4px solid #ddd;
  }
  section div.quotation blockquote { margin-left:-30px; }

  /* sidenote */
  section blockquote.sidenote {
    display: block;
    opacity: 0.4;
    transition: opacity 60ms ease-out;
    /* override blockquote props:; */
    padding: 0;
    color: inherit;
    margin-before: 0; -webkit-margin-before: 0; -moz-margin-before: 0;
    margin-after: 0; -webkit-margin-after: 0; -moz-margin-after: 0;
    margin-start: 0; -webkit-margin-start: 0; -moz-margin-start: 0;
    margin-end: 0; -webkit-margin-end: 0; -moz-margin-end: 0;
    font-size: 11px;
    letter-spacing: 0.01em;
  }
  section blockquote.sidenote > p:first-child {
    margin-top:0;
  }
  section blockquote.sidenote > p:last-child {
    margin-bottom:0;
  }
  section blockquote.sidenote code {
    padding: 0;
    background-color: inherit;
    border-radius: initial;
  }
  section blockquote.sidenote code::before,
  section blockquote.sidenote code::after {
    letter-spacing: inherit;
    content: none;
  }

  section blockquote.sidenote.init[data-ref]:hover {
    opacity: 1;
    transition: opacity 1ms linear;
  }

  section .highlighted-by-note {
    outline: 1px dashed rgba(0,0,0,0.1);
    outline-offset: 2px;
  }

/* only when inline */
@media only screen and (max-width: 1320px) {
  section blockquote.sidenote {
    padding: 1em;
    border: 1px solid #888;
    border-radius: 2px;
    max-width: 30rem;
  }
}

/* only when in gutter */
/* .force-side is applied by JS code temporarily for accurate
   layout calculations. */
section blockquote.sidenote.force-side {
  position: absolute;
  width: 180px;
  right: -220px;
  border: none;
  /*font-size: 10px;
  letter-spacing: 0.012em;*/
}
@media only screen and (min-width: 1321px) {
  section blockquote.sidenote.init {
    position: absolute;
    width: 180px;
    right: -220px;
    border: none;
    /*font-size: 10px;
    letter-spacing: 0.012em;*/
  }
}


/*@media only screen and (max-width: 1320px) {
  section blockquote.sidenote,
  section blockquote.sidenote.init {
    position: inherit;
    width: auto;
    max-width: 50vw;
    right: initial;
    padding-left: 10px;
    padding-bottom: 0;
    border-left:1px solid #ccc;
    margin-top: 2em !important;  override margin set by js-generated rule 
    margin-bottom: 2em;
    font-size: inherit;
    letter-spacing: inherit;
  }
}*/

/* pygments theme */
.highlight .c,  /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .c1, /* Comment.Single */
.highlight .cs  /* Comment.Special */
  { color:#999; }

/*.highlight .err { font-weight: bold; color:#f05; }*/ /* Error */
.highlight .ge { font-style: italic } /* Generic.Emph */

.highlight .k,  /* Keyword */
.highlight .gh, /* Generic.Heading */
.highlight .gp, /* Generic.Prompt */
.highlight .gs, /* Generic.Strong */
.highlight .gu, /* Generic.Subheading */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kn, /* Keyword.Namespace */
.highlight .kr, /* Keyword.Reserved */
.highlight .nc, /* Name.Class */
.highlight .ni, /* Name.Entity */
.highlight .ne, /* Name.Exception */
.highlight .nn, /* Name.Namespace */
.highlight .nt, /* Name.Tag */
.highlight .ow  /* Operator.Word */
  { color: #375EAB; }

.highlight .m,  /* Literal.Number */
.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .il, /* Literal.Number.Integer.Long */
.highlight .mo, /* Literal.Number.Oct */
.highlight .s,  /* Literal.String */
.highlight .sb, /* Literal.String.Backtick */
.highlight .sc, /* Literal.String.Char */
.highlight .sd, /* Literal.String.Doc */
.highlight .s2, /* Literal.String.Double */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .sx, /* Literal.String.Other */
.highlight .sr, /* Literal.String.Regex */
.highlight .s1, /* Literal.String.Single */
.highlight .ss  /* Literal.String.Symbol */
  { color:#333377; }

.highlight .se, /* Literal.String.Escape */
.highlight .si  /* Literal.String.Interpol */
  { color:#333377; font-weight: bold; }
