* { margin:0; padding:0; }
html { }
body {
  /*background-color: #F1EFE7; color: #779482;*/
  background-color: #fff; color: #222;
  font: 14px/1.4 'Inter UI', sans-serif;
  letter-spacing: 0.01em;
  font-weight: 400;
  padding-bottom: 30px;

  font-kerning: normal;
  -moz-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;

  display:flex;
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}
h1 {
  font-weight: 700;
  letter-spacing: -0.01em;
  text-indent: -1px;
  margin-bottom: 0;
  margin-top: 0;
  color:#222;
}
h2 {
  font-weight: 500;
  letter-spacing: 0em;
  margin-top: 3em;
}
h3 {
  margin-top: 3em;
}
/* type scale */
h1 { font-size: 2.074em; }
h2 {font-size: 1.728em;}
h3 {font-size: 1.44em;}
h4 {font-size: 1.2em;}
small {font-size: 0.833em;}

h1 > a, h2 > a, h3 > a {
  color: inherit;
  text-decoration: none;
  text-shadow: none;
  background: none !important;
}

a {
  color: inherit;
  text-decoration: inherit;
  word-break: break-word;
  word-wrap: break-word;
}
a:hover {
  color: rgb(48, 112, 232);
}

p, ul, ol, pre {
  margin: 20px 0;
}
ul, ol {
  margin-left:1.1em;
}
img {
  display: block;
}

code, q {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size:0.9em;
}
/*code {
  display: block;
  border-radius:1px;
  padding: 0.5em 0;
  overflow: auto;
}*/
q {
  display: inline;
  white-space: pre-wrap;
}
q:before {
  content: "";
}
q:after {
  content: "";
}

num { /* number */
  font-feature-settings: 'calt' 1, 'ss01' 1;
  white-space: pre;
}

screen {
  flex: 1 0 100%;
  display: none;
  /*background: salmon;*/
}

screen.active {
  display: block;
}


.row {
  padding: 50px;
  /*background: salmon;*/
  display: flex;
  justify-content: center;
}
.row > * {
  width: 100%;
  max-width: 700px;
  flex: 1 0 100%;
  /*background: yellow;*/
}

.row-divider {
  margin:0 auto;
  max-width: 700px;
  height: 1px;
  border-bottom: 1px dashed rgba(0,0,0,0.09);
}

/* small screens */
@media only screen and (max-device-width: 736px) {
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

::selection {
  background: rgb(48, 112, 232);
  color: white;
  text-shadow: none;
}
::-moz-selection {
  background: rgb(48, 112, 232);
  color: white;
  text-shadow: none;
}

/* Code highlighting */
.hljs, pre > code {
  display: block;
  max-width: auto;
  min-width: 50%;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  /*background: rgba(255,255,255,0.1);*/
  background: rgba(0,0,0,0.05);
  border-radius:0.2em;
}

.hljs-comment,
.hljs-quote {
  color: #998;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #d73a49;
  /*font-weight: bold;*/
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #005cc5;
}

.hljs-string,
.hljs-doctag {
  color: #032f62;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  /*font-weight: bold;*/
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  /*font-weight: bold;*/
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #6f42c1;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #6f42c1;
}

.hljs-meta {
  color: #999;
  /*font-weight: bold;*/
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

/*.hljs-emphasis {
  font-style: italic;
}*/

/*.hljs-strong {
  font-weight: bold;
}*/